body{font-family: "Inter", sans-serif !important; font-size: 14px; font-weight: 500;}

ul,li{list-style: none; margin: 0; padding: 0;}

p{margin: 0;}

label{font-family: "Inter", sans-serif !important;}

.btn_h_30{height: 30px !important;}
.btn_h_32{height: 32px !important;}
.btn_h_35{height: 35px !important;}
.btn_h_40{height: 40px !important;}
.btn_h_45{height: 45px !important;}

.form-switch .form-check-input{height: 1.8em; width: 4em; border: 1px solid #E5DEF7; background-color: rgb(109 54 250 / 6%);}
.form-switch .form-check-input:focus{box-shadow: none;}
.form-check-input:checked{background-color: #6D36FA !important; border-color: #6D36FA;}

.auth_vector{height: 100vh; background-color: #6D36FA; padding: 0 150px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.auth_vector .auth_vector_content h1{color: #fff; font-size: 36px; line-height: 50px; font-weight: 700; text-align: center; margin: 0;}
.auth_vector .auth_vector_content h1 span{color: #FFAB55;}

.Brand-container{display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 65px; height: 100vh;}
.Brandtitle{text-align: center; padding: 35px 0 30px;}
.Brandtitle h4{font-size: 21px; font-weight: 700; color: #302B32 !important;}
.Brandtitle h4 span{color: #FFA917 !important;}
.Brandtitle p{font-size: 13px; font-weight: 400; color: #555A6A !important; margin: 0;}

Form{width: 100%;}

/* Form Feilds */

.Brand-container .form-label{color: #101E37; font-size: 14px; font-weight: 500;}
.Brand-container .form-control{color: #101E37 !important; font-size: 14px !important; font-weight: 500 !important; background-color: #fff !important; height: 42px !important; border: 1px solid #C2CDE0 !important; border-radius: 4px !important;}
.Brand-container .form-control:focus{box-shadow: none !important;}

.customCheckbox .form-check{display: flex; align-items: center; gap: 10px; min-height: auto; margin: 0 !important; padding: 0 !important;}
.customCheckbox .form-check .form-check-label{font-size: 14px; color: #1B2943; font-weight: 500; line-height: 14px; display: flex;}
.customCheckbox .form-check .form-check-input{margin: 0 !important; border-radius: 3px; border: 1px solid #C2CDE0 !important;}

.forgot-password{font-size: 14px; font-weight: 500; color: #FFA917 !important; background-color: transparent; border: none; }

/* ACTION BUTTON */

.primary_btn{background-color: #6D36FA !important; font-size: 16px !important; font-weight: 700 !important; font-family: "Inter", sans-serif !important; height: 45px; border-radius: 4px;}
.primary_btn_rounded{background-color: #6D36FA !important; border: none; font-size: 16px !important; font-weight: 500 !important; font-family: "Inter", sans-serif !important; height: 45px; border-radius: 100px; padding: 4px 30px; display: flex; align-items: center; justify-content: center;}
.primary_form_btn{background-color: #6D36FA !important; border: none !important; font-size: 14px !important; font-weight: 600 !important; font-family: "Inter", sans-serif !important; border-radius: 4px; padding: 7px 20px; display: flex; align-items: center; justify-content: center;}

.secondary_btn{background-color: #FFA917 !important; font-size: 16px !important; font-weight: 700 !important; font-family: "Inter", sans-serif !important; height: 45px; border-radius: 4px;}
.secondary_btn_rounded{background-color: #ffffff !important; border: 1px solid #FFA917; font-size: 16px !important; font-weight: 500 !important; font-family: "Inter", sans-serif !important; height: 45px; border-radius: 100px; padding: 4px 30px; display: flex; align-items: center; color: #FFA917; justify-content: center;}
.secondary_btn_rounded:hover{background-color: #FFA917 !important; border: 1px solid #FFA917;}
.secondary_form_btn{background-color: #6D36FA !important; border: none !important; font-size: 14px !important; font-weight: 600 !important; font-family: "Inter", sans-serif !important; border-radius: 4px; padding: 7px 20px; display: flex; align-items: center; justify-content: center;}

/* ACTION BUTTON */

.create-account{ background-color: transparent; border: none; padding: 0 !important; display: flex; align-items: center; justify-content: center; gap: 5px;}
.create-account p{font-size: 14px; font-weight: 500; color: #101E37 !important; text-align: center; margin: 0 !important;}
.create-account button{background-color: transparent !important; border: none !important; padding: 0 !important; color: #6D36FA; text-transform: capitalize;}

/* AUTHENTICATION PAGE */

.main_container{display: flex;}
.main_container .main_content{width: calc(100% - 85px); background-color: #F7F8FC; min-height: 100vh;}

/* SIDEBAR */

.main_container .sidebar{width: 85px; background-color: #6D36FA; height: 100vh; padding: 20px 0;}
.main_container .sidebar .sidebar_content{width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 20px;}
.main_container .sidebar .Innerlogo{width: 60px; height: 50px; display: flex; align-items: center; justify-content: center; background-color: #ffffff; border-radius: 4px !important;     --bs-btn-border-color: none;}
.main_container .sidebar .Innerlogo img{width: 40px;}
.main_container .sidebar .sidebar_menu{display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 0; padding: 0; margin: 0; width: 100%;}
.main_container .sidebar .sidebar_menu li{display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 5px; padding: 10px 0; cursor: pointer; height: 70px; width: 100%;}
.main_container .sidebar .sidebar_menu li{text-decoration: none;}
.main_container .sidebar .sidebar_menu li i{display: flex; justify-content: center;}
.main_container .sidebar .sidebar_menu li span{font-size: 12px; color: #fff; font-weight: 500; list-style: none;}
.main_container .sidebar .sidebar_menu li.active{background-color: #FFA917 !important;}

/* TOPMENU */

.main_container .main_content .topmenu{width: 100%; background-color: #fff; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #EAE2FF; height: 50px; padding: 0 20px;}
.main_container .main_content .topmenu .topmenu_content{display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.main_container .main_content .topmenu .topmenu_content h1{font-size: 18px; font-weight: 600; color: #2D2B32 !important; margin: 0 !important;}
.main_container .main_content .topmenu .topmenu_content span{display: flex; align-items: center; gap: 3px;}
.main_container .main_content .topmenu .topmenu_search{display: flex; align-items: center; justify-content: center; gap: 10px;}
.main_container .main_content .topmenu .topmenu_search input{width: 100%; height: 30px; border-radius: 6px; border: 1px solid #C2CDE0 !important; padding: 0 10px; font-size: 14px; font-weight: 500; color: #101E37 !important;}
.main_container .main_content .topmenu .topmenu_search input:focus{box-shadow: none !important;}
.main_container .main_content .topmenu .topmenu_search input::placeholder{color: #C2CDE0 !important;}
.main_container .main_content .topmenu .topmenu_search input::placeholder{font-size: 14px !important; font-weight: 500 !important;}

.main_container .main_content .content{padding: 19px 5px; height: calc(100vh - 50px); overflow: auto;}

.primary_card{border: 1px solid #E7DEFF; background-color: #fff; border-radius: 15px; box-shadow: none; overflow: hidden;}
.primary_card .card-header{background-color: #fff; border: none !important; display: flex; align-items: center; justify-content: space-between; padding: 18px 15px;}
.primary_card .card-header .heading_group{display: flex; flex-direction: column; gap: 7px;}
.primary_card .card-header .heading_group h3{font-size: 16px; font-weight: 600; color: #2A2731; line-height: 20px; margin: 0 !important;}
.primary_card .card-header .heading_group p{font-size: 12px; font-weight: 500; color: #757479; line-height: 16px; margin: 0 !important;}
.primary_card .card-header h3{font-size: 16px; font-weight: 600; color: #2A2731; line-height: 20px; margin: 0 !important;}
.primary_card .card-header .heading_elements{display: flex; align-items: center; gap: 7px;}
.primary_card .card-header .heading_elements .square{display: flex; align-items: center; justify-content: center; border: 1px solid #E7DEFF; border-radius: 3px; padding: 6px;}


.secondary_card{border: 1px solid #E4E3E3; border-radius: 8px; background-color: #fff;}
.secondary_card .card-body{height: calc(100vh - 352px); overflow: auto; }
.secondary_card .card-footer{background-color: #ECECEC; border: none !important; display: flex; align-items: center; justify-content: flex-end;}


.day_filter{display: flex; align-items: center; justify-content: center; gap: 3px; padding: 3px; border: 1px solid #E7DEFF; border-radius: 4px;}
.day_filter .day_filter_item{display: flex; align-items: center; justify-content: center; gap: 5px; padding: 3px 8px;  cursor: pointer; font-size: 12px; font-weight: 600; color: #2A2731 !important; text-decoration: none; border-radius: 3px;}
.day_filter .day_filter_item.active{background-color: #E7DEFF;}

.employeestate_container{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 0; grid-gap: 16px;}
.employeestate_container .employee_content{width: 48.5%; border: 1px solid #E7DEFF; border-bottom: 4px solid #E7DEFF; background-color: #fff; padding: 15px; display: flex; align-items: flex-start; flex-direction: column; border-radius: 12px; gap: 12px;}
.employeestate_container .employee_content h5{font-size: 14px; font-weight: 500; color: #5A5762; margin: 0;}
.employeestate_container .employee_content .employee_count{display: flex; align-items: center; gap: 10px;}
.employeestate_container .employee_content .employee_count .count{font-size: 24px; font-weight: 700; color: #454545; line-height: 27px;}
.employeestate_container .employee_content .employee_count .count-text{font-size: 14px; font-weight: 500; color: #5A5762; margin: 0;}
.employeestate_container .employee_content .employee_count .count-percentage{border: 1px solid rgb(57 148 134 / 35%); background-color: rgb(57 148 134 / 10%); border-radius: 5px; padding: 2px 4px; font-size: 10px; font-weight: 600; color: #399486; display: flex; align-items: center; gap: 3px; line-height: 12px;}
.employeestate_container .employee_content .employee_count .count-percentage i{display: flex;}

.task_reminder_container{display: flex; align-items: flex-start; flex-direction: column; gap: 15.5px;}
.task_reminder_container .task_reminder_content{display: flex; align-items: center; justify-content: space-between; width: 100%;}
.task_reminder_container .task_reminder_content .task_rem_left{display: flex; align-items: center; gap: 10px; }
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_icon{display: flex; align-items: center;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_icon i{display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 8px; border: 1px solid #E7DEFF;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_content h5{color: #454053; font-size: 14px; font-weight: 600; line-height: 20px; margin: 0 !important;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_content p{color: #7E7B87; font-size: 12px; font-weight: 500; line-height: 20px; margin: 0 !important;}

.task_reminder_container .task_reminder_content .task_rem_right{display: flex; align-items: center; }
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur{display: flex; align-items: center;  gap: 10px;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_dur{color: #4D4D4D; font-size: 12px; font-weight: 600; line-height: 14px; margin: 0 !important; border: 1px solid #CDD0D0; border-radius: 100px; padding: 5px 10px 5px 25px; background-color: #FBF9FF; position: relative;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_dur::before{content: ""; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 6px; height: 6px; border-radius: 100px; background-color: #6D36FA;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_noti{color: #949398; font-size: 12px; font-weight: 500; line-height: 20px; margin: 0 !important;}

.my_calendar{display: flex; align-items: center; justify-content: center; gap: 10px; padding: 5px 10px; background-color: #fff; border: 1px solid #E7DEFF; border-radius: 100px; font-size: 12px; font-weight: 600; color: #2A2731; cursor: pointer;}

.UPC_event_container{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 0; grid-gap: 15px;}
.UPC_event_container .UPC_event{width: 100%; border: 1px solid #E7DEFF; background-color: #fff; padding: 15px; display: flex; align-items: flex-start; flex-direction: column; border-radius: 12px; gap: 12px;}
.UPC_event_container .UPC_event .event_details{display: flex; flex-direction: row; width: 100%; align-items: center; justify-content: space-between;}

.UPC_event_container .UPC_event .event_details .event_date_time{display: flex; flex-direction: column; gap: 4px;}
.UPC_event_container .UPC_event .event_details .event_date_time .event_day{font-size: 14px; font-weight: 600; color: #2A2731; margin: 0; line-height: 20px;}
.UPC_event_container .UPC_event .event_details .event_date_time .event_time{font-size: 12px; font-weight: 500; color: #7E7B87;}

.UPC_event_container .UPC_event .event_details .event_info{display: flex; flex-direction: column; gap: 4px;}
.UPC_event_container .UPC_event .event_details .event_info .event_title{font-size: 14px; font-weight: 600; color: #2A2731; margin: 0; line-height: 20px;}
.UPC_event_container .UPC_event .event_details .event_info .event_description{font-size: 12px; font-weight: 500; color: #7E7B87;}

.UPC_event_container .UPC_event .event_actions{display: flex; align-items: center; justify-content: space-between; gap: 10px; width: 100%;}
.UPC_event_container .UPC_event .event_actions .event_action_button{display: flex; align-items: center; justify-content: center; gap: 5px; padding: 5px 10px; border: none; border-radius: 100px; font-size: 13px; font-weight: 600; color: #fff; cursor: pointer; background: #3E01DC;
background: linear-gradient(90deg,rgba(62, 1, 220, 1) 0%, rgba(96, 39, 242, 1) 100%);}
.UPC_event_container .UPC_event .event_actions .event_user_icons{display: flex; align-items: center;}
.UPC_event_container .UPC_event .event_actions .event_user_icons li{margin-left: -4px;}

.AttendanceSummary{display: flex; align-items: center; justify-content: flex-start; gap: 50px;}
.AttendanceSummary .flex{position: relative;}
.AttendanceSummary .flex .att_dot{width: 5px; height: 5px; border-radius: 50%; position: absolute; left: 0; top: 6px;}

.AttendanceSummary .flex .att_dot.absent{background-color: #3E01DC;}
.AttendanceSummary .flex .att_dot.present{background-color: #10C076;}
.AttendanceSummary .flex .att_dot.on-leave{background-color: #ADE69D;}
.AttendanceSummary .flex .att_dot.sick-leave{background-color: #E89CFE;}

.AttendanceSummary .flex .att_data{padding-left: 15px; font-size: 12px; font-weight: 500; color: #656565;}
.AttendanceSummary .flex .att_value{padding-left: 15px; font-size: 15px; font-weight: 700; color: #454545;}

.primary_table{width: 100%; border-collapse: collapse; margin: 0;}
.primary_table thead tr,
.primary_table thead tr td{vertical-align: middle; border: none;}
.primary_table thead tr th{background-color: #EBE4FF;box-shadow: none; overflow: hidden; font-size: 12px; text-transform: uppercase; font-weight: 700; color: #2C2C2C; padding: 10px 15px; border: none !important;}
.primary_table tbody tr td{background-color: transparent;box-shadow: none; overflow: hidden; font-size: 14px; font-weight: 500; color: #343434; padding: 9px 15px; border: none !important; height: 48px;}
.primary_table tbody tr:nth-child(even){background-color: #f3f3f3 !important;}
.primary_table tbody tr,
.primary_table tbody tr td{vertical-align: middle; border: none;}
.primary_table tbody tr td .status{display: inline-flex; align-items: center; font-size: 12px; font-weight: 600; color: #2B2B2B; padding: 4.5px 18px 5px 24px; border: 1px solid #E0E0E0 !important; background-color: #fff; border-radius: 100px; position: relative;}
.primary_table tbody tr td .status::before{content: ""; position: absolute; left: 9px; top: 50%; transform: translateY(-50%); width: 6px; height: 6px; border-radius: 100px; background-color: #6D36FA;}
.primary_table tbody tr td .emp-name{display: flex; align-items: center; gap: 7px;}

.primary_table tbody tr td .status.active::before{background-color: #10C076;}
.primary_table tbody tr td .status.Onboarding::before{background-color: #E89CFE;}

.Primary_tab .nav-item .nav-link{border: none !important; background-color: transparent; font-size: 14px; font-weight: 500; color: #757479; }
.Primary_tab .nav-item:first-child .nav-link{padding-left: 0 !important;}
.Primary_tab .nav-item .nav-link.active{color: #6D36FA !important; border-bottom: 2px solid #6D36FA !important; font-weight: 600 !important;}
.Primary_tab .nav-item .nav-link:hover{color: #6D36FA !important; border-bottom: 2px solid #6D36FA !important;}

.card_purple{background-color: #FAF8FF; border: 1px solid #DCCFFF; border-radius: 8px; border-bottom: 4px solid #DCCFFF; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);}
.card_purple .card-body{padding: 18px 12px;}

.employee_profile_container{display: flex; align-items: center; justify-content: flex-start; gap: 50px;}
.employee_profile_container .employee_profile_pic_content{display: flex; align-items: center; gap: 20px;}
.employee_profile_container .employee_profile_pic_content .employee_profile_pic{border: 4px solid rgb(109 54 250 / 10%); border-radius: 50%; width: 90px; height: 90px; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content{display: flex; flex-direction: column; gap: 4px;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content h5{display: flex; align-items: center; gap: 10px; margin: 0;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content h5 label{color: #353535; font-size: 20px; font-weight: 600; margin: 0;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content h5 span.badge{color: #3CCE41; font-size: 12px; font-weight: 600; margin: 0; background-color: #ECFFED; border: 1px solid #B8E7BB; border-radius: 4px;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content p{color: #5B5766; font-size: 13px; font-weight: 500; margin: 0;}
.employee_profile_container .employee_profile_pic_content .employee_profile_content a{color: #1420FF; font-size: 13px; font-weight: 500; margin: 0;}

.employee_profile_container .employee_profile_details{display: flex; flex-direction: column; gap: 3px;}
.employee_profile_container .employee_profile_details label{color: #9B94AD; font-size: 12px; font-weight: 500; margin: 0;}
.employee_profile_container .employee_profile_details span{color: #5B5766; font-size: 14px; font-weight: 600; margin: 0; letter-spacing: 0.2px;}
.employee_profile_container .employee_offer_letter a{display: flex; align-items: center; gap: 8px; color: #5B5766;  font-size: 14px; font-weight: 600; text-decoration: none; }

.Secondary_tab.nav-tabs{border: none;}
.Secondary_tab .nav-item .nav-link{border: 1px solid #E5DEF6 !important; background-color: #fff; font-size: 14px; font-weight: 500; color: #312E39; border-radius: 0; border-right: none !important; padding: 7px 25px; height: 40px; display: flex; align-items: center;}
.Secondary_tab .nav-item:first-child .nav-link{border-radius: 6px 0 0 6px;}
.Secondary_tab .nav-item:last-child .nav-link{border-right: 1px solid #E5DEF6 !important; border-radius: 0 6px 6px 0;}
.Secondary_tab .nav-item .nav-link.active{color: #fff !important; background-color: #FFA917;}
.Secondary_tab .nav-item .nav-link:hover{color: #fff !important; background-color: #FFA917;}


.form-label{color: #707070; font-size: 14px; font-weight: 400; line-height: 16px;}
.form-control{color: #2e2e2e !important; font-size: 14px !important; font-weight: 500 !important; background-color: #fff !important; height: 40px !important; border: 1px solid #E5DEF7 !important; border-radius: 4px !important;}
.form-control:focus{box-shadow: none !important; border: 1px solid #b498ff !important;}
.form-select{color: #2e2e2e !important; font-size: 14px !important; font-weight: 500 !important; background-color: #fff !important; height: 40px !important; border: 1px solid #E5DEF7 !important; border-radius: 4px !important;}
.form-select:focus{box-shadow: none !important; border: 1px solid #b498ff !important;}

.MainTitle{background-color: #EFE9FF; border: 1px solid #DFD4FF; border-radius: 4px; height: 40px; display: flex; align-items: center; padding: 0 12px; font-size: 15px; font-weight: 600; color: #414141; margin-bottom: 20px;}


.primary_table{border: 1px solid #E7DEFF; border-bottom: 3px solid #E7DEFF; border-radius: 8px; background-color: #fff;} 
.table_header{display: flex; align-items: center; justify-content: space-between; padding: 8px 15px;}
.table_header h5{font-size: 15px; font-weight: 600; color: #3C3B40; margin: 0 !important;}
.table_header .heading_elements ul{display: flex; align-items: center; gap: 10px;}
.table_header .heading_elements ul li{display: flex;}
.table_header .heading_elements ul .grid_search{border: 1px solid #D8D6DD; background-color: #fff; border-radius: 6px; height: 35px !important; width: 200px; outline: none; padding: 0 12px 0 30px; background-image: url(../src/assets/Images/search.svg); background-repeat: no-repeat; background-position: left 10px center;}

.table_body table{margin: 0; border-bottom: none;}

.table_action{display: flex; align-items: center; gap: 10px;}
.btn_action{background-color: transparent; border: none; padding: 0; cursor: pointer; display: flex; align-items: center; gap: 10px;}
.btn_action:hover{background-color: transparent;}

.MainHeader{display: flex; align-items: center; justify-content: space-between; padding: 18px 15px;} 
.MainHeader .HR_Brand img{width: 45px;}
.MainHeader .HR_Menu{display: flex; gap: 30px; align-items: center;}
.MainHeader .HR_Menu .menu_parallax{font-size: 14px; font-weight: 500; color: #353535; text-decoration: none;}
.MainHeader .HR_Action .HR_Action_btn{border: none; border-radius: 100px; padding: 8px 20px; background-color: #6D36FA; color: #fff; font-size: 14px; font-weight: 500;}
 
.Banner_container{display: flex; flex-direction: column; gap: 20px;}
.Banner_container span{color: #FFA917; font-size: 20px; font-weight: 500; margin: 0; line-height: 24px;}
.Banner_container h2{color: #2B2B2B; font-size: 40px; font-weight: 700; margin: 0; line-height: 50px;}
.Banner_container p{color: #666666; font-size: 16px; font-weight: 400; margin: 0; line-height: 21px}

.ProductImage{border-radius: 20px 20px 0 0; height: 600px; overflow: hidden; position: relative;}
.ProductImage::before{content: ''; position: absolute; width: 100%; height: 100%; background-color: rgb(0 0 0 / 25%); left: 0; top: 0;}

.FeaturesImages{border-radius: 25px; height: 900px; overflow: hidden; position: relative;}

.FeaturesCol{display: flex; flex-direction: column; gap: 5px; padding-right: 25px;}
.FeaturesCol i{width: 45px; height: 45px; border-radius: 100px; background-color: #F6F9FF; margin-bottom: 5px; display: flex; align-items: center; justify-content: center;}
.FeaturesCol i img{width: 30px; }
.FeaturesCol h5{color: #2B2B2B; font-size: 18px; font-weight: 600; margin: 0; line-height: 24px; margin-bottom: 5px;}
.FeaturesCol p{color: #666666; font-size: 13px; font-weight: 400; margin: 0; line-height: 18px;}

.PricingTable{padding: 10px; border-radius: 35px; border: 1px solid #E2E1E1;}