body{font-family: "Inter", sans-serif !important; font-size: 14px; font-weight: 500;}

ul,li{list-style: none; margin: 0; padding: 0;}

p{margin: 0;}

label{font-family: "Inter", sans-serif !important;}

.auth_vector{height: 100vh; background-color: #6D36FA; padding: 0 150px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.auth_vector .auth_vector_content h1{color: #fff; font-size: 36px; line-height: 50px; font-weight: 700; text-align: center; margin: 0;}
.auth_vector .auth_vector_content h1 span{color: #FFAB55;}

.Brand-container{display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 65px; height: 100vh;}
.Brandtitle{text-align: center; padding: 35px 0 30px;}
.Brandtitle h4{font-size: 21px; font-weight: 700; color: #302B32 !important;}
.Brandtitle h4 span{color: #FFA917 !important;}
.Brandtitle p{font-size: 13px; font-weight: 400; color: #555A6A !important; margin: 0;}

Form{width: 100%;}

/* Form Feilds */

.form-label{color: #101E37; font-size: 14px; font-weight: 500;}
.form-control{color: #101E37 !important; font-size: 14px !important; font-weight: 500 !important; background-color: #fff !important; height: 42px !important; border: 1px solid #C2CDE0 !important; border-radius: 4px !important;}
.form-control:focus{box-shadow: none !important;}

.customCheckbox .form-check{display: flex; align-items: center; gap: 10px; min-height: auto; margin: 0 !important; padding: 0 !important;}
.customCheckbox .form-check .form-check-label{font-size: 14px; color: #1B2943; font-weight: 500; line-height: 14px; display: flex;}
.customCheckbox .form-check .form-check-input{margin: 0 !important; border-radius: 3px; border: 1px solid #C2CDE0 !important;}

.forgot-password{font-size: 14px; font-weight: 500; color: #FFA917 !important; background-color: transparent; border: none; }

.primary_btn{background-color: #6D36FA !important; font-size: 16px !important; font-weight: 700 !important; font-family: "Inter", sans-serif !important; height: 45px; border-radius: 4px;}

.create-account{ background-color: transparent; border: none; padding: 0 !important; display: flex; align-items: center; justify-content: center; gap: 5px;}
.create-account p{font-size: 14px; font-weight: 500; color: #101E37 !important; text-align: center; margin: 0 !important;}
.create-account button{background-color: transparent !important; border: none !important; padding: 0 !important; color: #6D36FA; text-transform: capitalize;}


/* AUTHENTICATION PAGE */

.main_container{display: flex;}
.main_container .main_content{width: calc(100% - 85px); background-color: #F7F8FC; min-height: 100vh;}

/* SIDEBAR */

.main_container .sidebar{width: 85px; background-color: #6D36FA; height: 100vh; padding: 20px 0;}
.main_container .sidebar .sidebar_content{width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 20px;}
.main_container .sidebar .Innerlogo{width: 60px; height: 50px; display: flex; align-items: center; justify-content: center; background-color: #ffffff; border-radius: 4px !important;}
.main_container .sidebar .Innerlogo img{width: 40px;}
.main_container .sidebar .sidebar_menu{display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 0; padding: 0; margin: 0; width: 100%;}
.main_container .sidebar .sidebar_menu li{display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 5px; padding: 10px 0; cursor: pointer; height: 70px; width: 100%;}
.main_container .sidebar .sidebar_menu li i{display: flex;}
.main_container .sidebar .sidebar_menu li span{font-size: 12px; color: #fff; font-weight: 500; list-style: none;}
.main_container .sidebar .sidebar_menu li.active{background-color: #FFA917 !important;}

/* TOPMENU */

.main_container .main_content .topmenu{width: 100%; background-color: #fff; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #EAE2FF; height: 50px; padding: 0 20px;}
.main_container .main_content .topmenu .topmenu_content{display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.main_container .main_content .topmenu .topmenu_content h1{font-size: 18px; font-weight: 600; color: #2D2B32 !important; margin: 0 !important;}
.main_container .main_content .topmenu .topmenu_content span{display: flex; align-items: center; gap: 3px;}
.main_container .main_content .topmenu .topmenu_search{display: flex; align-items: center; justify-content: center; gap: 10px;}
.main_container .main_content .topmenu .topmenu_search input{width: 100%; height: 30px; border-radius: 6px; border: 1px solid #C2CDE0 !important; padding: 0 10px; font-size: 14px; font-weight: 500; color: #101E37 !important;}
.main_container .main_content .topmenu .topmenu_search input:focus{box-shadow: none !important;}
.main_container .main_content .topmenu .topmenu_search input::placeholder{color: #C2CDE0 !important;}
.main_container .main_content .topmenu .topmenu_search input::placeholder{font-size: 14px !important; font-weight: 500 !important;}


.main_container .main_content .content{padding: 20px 5px;}

.primary_card{border: 1px solid #E7DEFF; background-color: #fff; border-radius: 15px; box-shadow: none; overflow: hidden;}
.primary_card .card-header{background-color: #fff; border: none !important; display: flex; align-items: center; justify-content: space-between; padding: 18px 15px;}
.primary_card .card-header .heading_group{display: flex; flex-direction: column; gap: 7px;}
.primary_card .card-header .heading_group h3{font-size: 16px; font-weight: 600; color: #2A2731; line-height: 20px; margin: 0 !important;}
.primary_card .card-header .heading_group p{font-size: 12px; font-weight: 500; color: #757479; line-height: 16px; margin: 0 !important;}
.primary_card .card-header h3{font-size: 16px; font-weight: 600; color: #2A2731; line-height: 20px; margin: 0 !important;}
.primary_card .card-header .heading_elements{display: flex; align-items: center; gap: 7px;}
.primary_card .card-header .heading_elements .square{display: flex; align-items: center; justify-content: center; border: 1px solid #E7DEFF; border-radius: 3px; padding: 6px;}

.day_filter{display: flex; align-items: center; justify-content: center; gap: 3px; padding: 3px; border: 1px solid #E7DEFF; border-radius: 4px;}
.day_filter .day_filter_item{display: flex; align-items: center; justify-content: center; gap: 5px; padding: 3px 8px;  cursor: pointer; font-size: 12px; font-weight: 600; color: #2A2731 !important; text-decoration: none; border-radius: 3px;}
.day_filter .day_filter_item.active{background-color: #E7DEFF;}

.employeestate_container{display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; padding: 0; grid-gap: 16px;}
.employeestate_container .employee_content{width: 48.8%; border: 1px solid #E7DEFF; border-bottom: 3px solid #E7DEFF; background-color: #fff; padding: 15px; display: flex; align-items: flex-start; flex-direction: column; border-radius: 12px; gap: 12px;}
.employeestate_container .employee_content h5{font-size: 14px; font-weight: 500; color: #5A5762; margin: 0;}
.employeestate_container .employee_content .employee_count{display: flex; align-items: center; gap: 10px;}
.employeestate_container .employee_content .employee_count .count{font-size: 24px; font-weight: 700; color: #454545; line-height: 27px;}
.employeestate_container .employee_content .employee_count .count-text{font-size: 14px; font-weight: 500; color: #5A5762; margin: 0;}
.employeestate_container .employee_content .employee_count .count-percentage{border: 1px solid rgb(57 148 134 / 35%); background-color: rgb(57 148 134 / 10%); border-radius: 5px; padding: 2px 4px; font-size: 10px; font-weight: 600; color: #399486; display: flex; align-items: center; gap: 3px; line-height: 12px;}
.employeestate_container .employee_content .employee_count .count-percentage i{display: flex;}


.task_reminder_container{display: flex; align-items: flex-start; flex-direction: column; gap: 15.5px;}
.task_reminder_container .task_reminder_content{display: flex; align-items: center; justify-content: space-between; width: 100%;}
.task_reminder_container .task_reminder_content .task_rem_left{display: flex; align-items: center; gap: 10px; }
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_icon{display: flex; align-items: center;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_icon i{display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 8px; border: 1px solid #E7DEFF;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_content h5{color: #454053; font-size: 14px; font-weight: 600; line-height: 20px; margin: 0 !important;}
.task_reminder_container .task_reminder_content .task_rem_left .task_rem_content p{color: #7E7B87; font-size: 12px; font-weight: 500; line-height: 20px; margin: 0 !important;}

.task_reminder_container .task_reminder_content .task_rem_right{display: flex; align-items: center; }
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur{display: flex; align-items: center;  gap: 10px;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_dur{color: #4D4D4D; font-size: 12px; font-weight: 600; line-height: 14px; margin: 0 !important; border: 1px solid #CDD0D0; border-radius: 100px; padding: 5px 10px 5px 25px; background-color: #FBF9FF; position: relative;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_dur::before{content: ""; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 6px; height: 6px; border-radius: 100px; background-color: #6D36FA;}
.task_reminder_container .task_reminder_content .task_rem_right .task_noti_dur .task_noti{color: #949398; font-size: 12px; font-weight: 500; line-height: 20px; margin: 0 !important;}

.my_calendar{display: flex; align-items: center; justify-content: center; gap: 10px; padding: 5px 10px; background-color: #fff; border: 1px solid #E7DEFF; border-radius: 100px; font-size: 12px; font-weight: 600; color: #2A2731; cursor: pointer;}
